body {
  background: #cccccc;
}

span {
 color: red;
}

p {
  span {
    color: blue;
  }
}
#pagin {
 float:middle;
 text-align:center;
}
#input_samp {
  margin-left:30%;
}

.desc {

}

td.input {
  float:left;
}

.new_img {
  width: 80% !important;
}
.search{
  text-align: -webkit-right;
  padding-right: 0!important;
  margin-left: 5.2%!important;
  display:flex!important;
}


